<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#E6E6FA" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Poll-in: Voting App based on @freeCodeCamp full stack app development curriculum. Also available on Android.">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{style}}">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js" async></script>
</head>

<body>
  <div class="loader-bg">
    <div class="logo_img" style="width:170px"></div>
    <div class="loader loader10"></div>
  </div>
  <header>
    <div class="hamburger-btn" id="hamburger-menu-btn"></div>
    <a href="/" class="logo_img"></a>
    {{#if loggedout}}
    <div class="login-area">
      <button id="login" class="btn btn-blue" onclick="show('sign-in-form');focusto('username-login')">Sign In</button>
      <button id="signup" class="btn btn-green" onclick="show('sign-up-form');focusto('username-signup')">Sign Up</button>
    </div>
    {{else}}
    <div class="logged-in-area">
      <button class="btn btn-green create-polls-btn" onclick="showcreate(event)">+ New Poll</button>
      <button id="usericon" data-userid="{{userid}}" class="btn btn-green" data-username="{{username}}" onclick="userpage(event)">👤
        {{username}}
        </a>
        <button id="signout" class="btn btn-red" onclick="signout()">Sign Out</button>
        <div class="hamburger-menu">
          <h3 style="padding:4px 8px;border-radius:10px;background:navajowhite;cursor: pointer;">Popular Polls</h3>
        </div>
    </div>
    {{/if}}
  </header>
  <div class="modals">
    <div class="bg-layer"></div>
    {{#if loggedout}}
    <div id="sign-in-form" class="hidden" onsubmit="return signInAction()">
      <a href="javascript:console.log('closed');" class="close-btn">X</a>
      <form action="/signin" method="post" onsubmit="return false">
        <h2>Login to Poll-in</h2>
        <input type="text" name="username" id="username-login" placeholder="Username" required/>
        <input type="password" name="password" id="password-login" placeholder="Password" required minlength="8" pattern="\w{8}\w*"
        />
        <button type="submit" class="btn btn-blue" id="login-form-btn">Log in</button>
      </form>
    </div>
    <div id="sign-up-form" class="hidden">
      <a href="javascript:console.log('closed');" class="close-btn">X</a>
      <form action="/signup" method="post">
        <h2>Sign up for Poll-in</h2>
        <input type="text" name="username" id="username-signup" placeholder="Username" required autocomplete="off" />
        <span id="username-status"></span>
        <input type="password" name="password" id="password-signup" placeholder="Password" required minlength="8" pattern="\w{7}\w*"
        />
        <span style="color:#000080;">* Min 8 chars, only letters & numbers</span>
        <input type="password" name="password-r" id="password-signup-repeat" placeholder="Repeat Password" required/>
        <span id="password-status"></span>
        <button type="submit" class="btn btn-green" disabled>Sign Up</button>
      </form>
    </div>
    {{/if}}
    <div id="chart" class="hidden">
      <a href="javascript:console.log('closed');" class="close-btn">X</a>
      <center>
        <h2>Result</h2>
      </center>
      <div id="piechart" style="width:500px;height:400px;">
        <center>
          <div class="loader loader10"></div>
        </center>
      </div>
    </div>
    <div id="shareui" class="hidden">
      <a href="javascript:console.log('closed');" class="close-btn">X</a>
      <h3>Share With your Friends</h3>
      <input type="url" value="" id="shareurl" size="30" />
      <br/>
      <div class="share-btns" style="align-self:center;">
        <button class="btn btn-black" id="copy-btn-share" onclick="copyurl(event)">📋 Copy</button> &nbsp;
        <a class="btn btn-blue" id="share-on-twitter" href="" target="_blank">On Twitter</a> &nbsp;
        <a class="btn btn-blue" id="share-on-fb" href="" target="_blank">On Facebook</a>
      </div>
    </div>
  </div>
  <div id="addoptnui" class="hidden">
    <a href="javascript:console.log('closed');" class="close-btn">X</a>
    <h3>Add a new option to the poll</h3>
    <input type="url" value="" id="add-optn-input" size="30" placeholder="New Option" class="input-txt" />
    <button class="btn btn-green" data-url="" onclick="addOptnToDB(event)">Add Option</button>
  </div>
  </div>
  <div class="main-content" {{#if loggedout}}style="margin-left:0px;" {{/if}}>
    <div class="download-native-app">
      <a href="https://github.com/rajatkantinandi/poll-in-native/releases" target="_blank"> Download the native android app
        for better experience</a>
    </div>
    {{#if loggedout}} {{else}}
    <div class="create-polls">
      <h3>Create a Poll</h3>
      <form action="/create-poll" method="POST" onsubmit="return createPoll()">
        <input type="text" class="input-txt" name="question" id="question-to-submit" placeholder="Enter the question" style="width:80%;"
        />
        <input type="hidden" name="numOfOptions" id="numOfOptions" value="2" />
        <br>
        <div class="optionsToSubmit">
          <input type="text" class="input-txt" name="option1" placeholder="Enter the option1" />
          <input type="text" class="input-txt" name="option2" placeholder="Enter the option2" />
        </div>
        <br/>
        <center>
          <a class="btn btn-green" href="javascript:console.log('addnew');" id="add-option-btn" style="width:60%;display:block;" onclick="addOptn(event)">Add
            Option
          </a>
          <button type="submit" class="btn btn-blue" style="width:45%">Publish Poll</button>
          <button type="reset" class="btn btn-black" style="width:45%">Clear</button>
        </center>
      </form>
    </div>
    {{/if}} {{{body}}}
  </div>
  <script src="{{client}}"></script>
  <script src="{{usersc}}"></script>
</body>

</html>