  <div class="polls" id="trending-polls">
    {{#if userpage}}
    <h1>{{pageuser}}</h1>
    <h3>All Polls</h3>
    {{else}}
    <h2>Popular Polls</h2>
    {{/if}}
    {{#each polls}}
      <div class='poll' id='{{_id}}'>
        <div style="display:flex;flex-wrap:wrap;"><i style='color:#666'>👤 <a href="/user/{{createdBy}}"+>{{createdBy}}</a></i> &nbsp; <i style='color:#558'>@{{at}}</i></div>
        <hr/>
        <b>{{question}}</b>
        <form action='/vote' method='post' onsubmit="return voteme(event)">
          <div class='options'>
            <input type='hidden' name='id' value='{{_id}}'/>
            {{#each options}}
              <div class='option'>
                <input type='radio' name='poll' value='{{value}}'/><span class='option-val'>{{value}}</span>
              </div>
            {{/each}}
          </div>
          <div style="display:flex;flex-wrap:wrap;">
            <button class='btn btn-green' type='submit'>Vote</button>
            {{#if (eq ../username createdBy)}}
            <a href="javascript:console.log('deleting..');" onclick='deletePoll(event)' class='btn btn-red' data-id='{{_id}}'>Delete</a>
            {{/if}}
            {{#if ../loggedout}}
            {{else}}
              <a class="btn btn-green" href="javascript:console.log('addnew');" id="add-option-btn" onclick="addOptnDialog(event)" data-url='/update-poll' data-id='{{_id}}'>Add Option</a>
            {{/if}}
            <a class='btn btn-blue' href="javascript:console.log('Result');" data-results='{{stringify options}}' data-title='{{question}}' onclick='showresult(event)'>Result</a>
             <a class="btn btn-black" href="javascript:console.log('Sharing');" onclick="sharing(event)" data-url="poll/{{_id}}"  data-question="{{question}}">🔗 share</a>
          </div>
        </form>
      </div>
    {{/each}}
  </div>