<div id="trending-polls" class="polls">
  {{#if poll/_id}}
  <div class='poll' id='{{poll/_id}}'>
    <div style="display:flex;flex-wrap:wrap;">
      <i style='color:#666'>👤
        <a href="/user/{{poll/createdBy}}" +>{{poll/createdBy}}</a>
      </i> &nbsp;
      <i style='color:#558'>@{{poll/at}}</i>
    </div>
    <hr/>
    <b>{{poll/question}}</b>
    <form action='/vote' method='post' onsubmit="return voteme(event)">
      <div class='options'>
        <input type='hidden' name='id' value='{{poll/_id}}' /> {{#each poll/options}}
        <div class='option'>
          <input type='radio' name='poll' value='{{value}}' />
          <span class='option-val'>{{value}}</span>
        </div>
        {{/each}}
      </div>
      <div style="display:flex;flex-wrap:wrap;">
        <button class='btn btn-green' type='submit'>Vote</button>
        {{#if (eq username poll/createdBy)}}
        <a href="javascript:console.log('deleting..');" onclick='deletePoll(event)' class='btn btn-red' data-id='{{_id}}'>Delete</a>
        {{/if}} {{#if loggedout}} {{else}}
        <a class="btn btn-green" href="javascript:console.log('addnew');" id="add-option-btn" onclick="addOptnDialog(event)" data-url='/update-poll'
          data-id='{{_id}}'>Add Option</a>
        {{/if}}
        <a class='btn btn-blue' href="javascript:console.log('Result');" data-results='{{stringify poll/options}}' data-title='{{poll/question}}'
          onclick='showresult(event)'>Result</a>
        <a class="btn btn-black" href="javascript:console.log('Sharing');" onclick="sharing(event)" data-url="poll/{{poll/_id}}"
          data-question="{{poll/question}}">🔗 share</a>
      </div>
    </form>
  </div>
  {{else}}
  <h1>404 Not Found!!</h1>
  {{/if}}
</div>